<%= render 'form', comment: @comment %>

<section class="section">
  <div class="container">
    <% @comments.each do |comment| %>
      <div class="box" data-controller="comments" id="comment_<%= comment.id %>">
        <%= hidden_field :comment, :id, value: comment.id, data: { target: 'comments.id' } %>
        <article class="media">
          <div class="media-content">
            <div class="content">
              <p>
                <strong><%= comment.name %></strong>
                <br>
                <%= comment.body %>
              </p>
            </div>
            <div class="level is-mobile">
              <div class="level-left">
                <a class="level-item" aria-label="reply">
                  <span class="icon is-small">
                    <%= fa_icon 'heart', data: { action: 'click->comments#like' } %>
                  </span>
                </a>
                <span class="icon is-small like" data-target="comments.likes"><%= comment.likes %></span>
              </div>
            </div>
          </div>
        </article>
      </div>
    <% end %>
  </div>
</section>
