<!DOCTYPE html>
<html>
  <head>
    <title>Comments</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <section class="hero is-primary">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">Comentarios Random</h1>
          <h2 class="subtitle">
            Esto es simplemente una aplicacion para dejar comentarios random. Si queres expresar algo de lo que sea
            aca nadie va a saber quien sos asi que sentite libre de expresar lo que quieras, enojos, tristezas, felicidad, etc.
          </h2>
          <h3>Con ♥️ by Facundo Espinosa</h3>
        </div>
      </div>
    </section>
    <%= yield %>
  </body>
</html>
